.history {
  margin-top: 12px;
}

.title {
  font-size: 12px;
  color: #666;
  margin-bottom: 6px;
}

.chat {
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.chat:hover {
  background: #eaeaeacb;
}
